 body{
    background: rgb(58, 51, 52);
    color: rgb(110, 117, 126);
    margin: 0px;
}

.navbar ul{
list-style-type: none;
padding: 0px;
margin: 0px;
background-color: rgb(185, 181, 181);
display: flex;
gap: 100px;
}
.navbar a{
    color: aliceblue;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    display: block;
}
.navbar a:hover{
    background-color: rgb(11, 42, 70);
}



#container{
    width: 100% ;
    height: 400px; ;
    background-color: rgb(6, 56, 10);
    margin: 50px auto;
    border-radius: 8px;
    display: flex;
    /*add flex box*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.box1{
    width: 200px;
    height:auto ;
    background-color: rgb(155, 152, 151);
    box-sizing: border-box ;
    font-size: 20px;
}
.box2{
    width: 200px;
    height:auto ;
    background-color: rgb(8, 3, 2);
    box-sizing: border-box ;
    font-size: 20px;
}
.box3{
    width: 200px;
    height:auto ;
    background-color: rgb(68, 16, 3);
    box-sizing: border-box ;
    font-size: 20px;
}
footer{
    background-color: rgb(212, 189, 153);
    height: 60px;
    width: 100%;
}



